<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap genTemplate">

  <Identity
    Name="E0F0B14C-9CA5-4B60-8B6E-0DC219EBB4A7"
    Publisher="CN=ema"
    Version="2.0.6.0" />

  <Properties>
    <DisplayName>GenshinSwitch</DisplayName>
    <PublisherDisplayName>ema</PublisherDisplayName>
    <Logo>Assets\Logos\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Logos\Square150x150Logo.png"
        Square44x44Logo="Assets\Logos\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Logos\Wide310x150Logo.png"  Square71x71Logo="Assets\Logos\SmallTile.png" Square310x310Logo="Assets\Logos\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Logos\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\Logos\BadgeLogo.png"  Notification="badge"/>
      </uap:VisualElements>
      <Extensions>
          <desktop:Extension Category="windows.toastNotificationActivation">
              <desktop:ToastNotificationActivation ToastActivatorCLSID="4754D477-D639-4F52-8832-E1852E0BCADE" />
          </desktop:Extension>

          <com:Extension Category="windows.comServer">
              <com:ComServer>
                  <com:ExeServer Executable="GenshinSwitch.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
                      <com:Class Id="4754D477-D639-4F52-8832-E1852E0BCADE" DisplayName="Toast activator"/>
                  </com:ExeServer>
              </com:ComServer>
          </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="allowElevation" />
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v5.2.1" />
    <genTemplate:Item Name="projectType" Value="NavView" />
    <genTemplate:Item Name="framework" Value="MVVMToolkit" />
    <genTemplate:Item Name="platform" Value="WinUI" />
    <genTemplate:Item Name="appmodel" Value="Desktop" />
  </genTemplate:Metadata>
</Package>
